{% extends "base.html" %}

{% block title %}Demande de resultat Bacc{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/demande_resultat_bacc.css' %}" />

<div class="container">
  <div class="form-container">
    <h2>Demande de résultat bac par email - Août <span id="year"></span></h2>

    <form id="baccalaureat-form">
      <div class="input-group">
        <label for="matricule">Matricule ici</label>
        <input type="text" id="matricule" name="matricule" placeholder="Matricule ici" />
      </div>

      <div class="input-group">
        <label for="date-naissance">Date de Naissance</label>
        <input type="text" id="date-naissance" name="date-naissance" placeholder="JJ/MM/AAAA" maxlength="10" />
      </div>

      <p>Cliquez sur l'un des programmes ci-dessous :</p>

      <div class="button-group">
        <button type="button" class="program bac-unique" data-programme="BAC_UNIQUE">BAC UNIQUE</button>
        <button type="button" class="program perm-ns4" data-programme="PERM_NS4">PERM. NS4</button>
        <button type="button" class="program perm-philo" data-programme="PERM_PHILO">PERM. PHILO</button>
      </div>
    </form>
  </div>
</div>

<script src="{% static 'js/demande_resultat_bacc.js' %}"></script>

{% endblock %}
