{% extends "base.html" %}

{% block content %}
<div class="text-center mt-4">
    <a href="{% url 'details' 'utilisateur' 0 %}" class="btn btn-outline-secondary">Retour au profil</a>
</div>

<div class="container mt-5 py-4 px-4 shadow-lg rounded bg-light">
    <h2 class="text-center mb-4">Liste des Entités</h2>
    
    {% if limite_atteinte %}
        <div class="alert alert-danger" role="alert">
            Vous avez déjà choisi 3 entités. Veuillez désélectionner une entité avant d'en ajouter une nouvelle.
        </div>
    {% endif %}

    <ul class="list-group">
        {% for entite in entites %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ entite.nom }}
                {% if entite in request.user.profil.entites.all %}
                    <span class="text-success">✔️</span>  <!-- Icône indiquant que l'entité est déjà choisie -->
                    <form method="post" action="{% url 'deselectionner_entite' entite_id=entite.id %}" class="ml-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">X</button>
                    </form>
                {% endif %}
                <a href="{% url 'choisir_entite' entite_id=entite.id %}" class="btn btn-primary {% if limite_atteinte %}disabled{% endif %}">Choisir</a>
            </li>
        {% empty %}
            <li class="list-group-item text-center">Aucune entité disponible.</li>
        {% endfor %}
    </ul>

    <div class="text-center mt-4">
        <a href="{% url 'details' 'utilisateur' request.user.id %}" class="btn btn-outline-secondary">Retour au profil</a>
    </div>
</div>
{% endblock %}
