{% extends 'base.html' %} {% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/formulaire.css' %}">

     <!-- Bloc pour afficher les messages -->
     {% if messages %}
     <ul>
         {% for message in messages %}
             <li class="{% if message.tags %} {{ message.tags }} {% endif %}">{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    
<div class="container mt-5">
  <div class="card shadow-sm p-4">
    <h2 class="mb-4 text-primary">Modifier l'Adresse :</h2>
    
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %} {{ formulaire.as_p }}
      <!-- Affiche le formulaire avec des balises <p> pour chaque champ -->
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary btn-lg">
          Mettre à jour
        </button>
        <a href="{% url 'details' 'utilisateur' request.user.id %}" class="btn btn-outline-secondary">Retour au profil</a>

      </div>
    </form>
  </div>
</div>

{% endblock %}


<!-- Ton template pour le formulaire -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#id_departement').change(function() {
            var departementId = $(this).val();
            var communeSelect = $('#id_commune');

            // Vider le champ des communes avant de charger les nouvelles
            communeSelect.empty();

            if (departementId) {
                $.ajax({
                    url: '{% url "charger_communes" %}',
                    data: {
                        'departement': departementId
                    },
                    success: function(data) {
                        // Ajouter les options de communes
                        $.each(data, function(index, item) {
                            communeSelect.append(new Option(item.nom, item.id));
                        });
                    }
                });
            }
        });
    });
</script>

