{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/formulaire.css' %}">
     <!-- Bloc pour afficher les messages -->
     {% if messages %}
     <ul>
         {% for message in messages %}
             <li class="{% if message.tags %} {{ message.tags }} {% endif %}">{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}


    <div class="container mt-5 py-4 px-4 shadow-lg rounded bg-light">
        <h2 class="text-center mb-4">Modifier les Informations de l'Utilisateur</h2>
        <form method="post" novalidate class="needs-validation">
            {% csrf_token %}
            <div class="form-group">
                {{ formulaire.as_p }}  <!-- Affiche le formulaire avec des balises <p> -->
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-warning btn-lg">Modifier Informations</button>
                <a href="{% url 'details' 'utilisateur' request.user.id %}" class="btn btn-outline-secondary">Retour au profil</a>

            </div>
            
         
        </form>
    
    </div>
{% endblock %}
