    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>BUNEXE</h3>
                    <p>Le Bureau National des Examens d'État (BUNEXE) est l'organisme responsable de la gestion et de l'organisation des examens d'État en Haïti.</p>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="footer-column">
                    <h3>Liens Rapides</h3>
                    <ul class="footer-links">
                        <li><a href="{% url 'accueil' %}">Accueil</a></li>
                        <li><a href="{% url 'e_document' %}">Services</a></li>
                        <li><a href="{% url 'examens' %}">Examens</a></li>
                        <li><a href="{% url 'accueil' %}">Actualités</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Services</h3>
                    <ul class="footer-links">
                        <li><a href="{% url 'examens' %}">Inscription aux examens</a></li>
                        <li><a href="{% url 'e_document' %}">Vérification des diplômes</a></li>
                        <li><a href="{% url 'demande_resultat_bac' %}">Demande de relevé de notes</a></li>
                        <li><a href="{% url 'demande_resultat_bac' %}">Équivalence de diplômes</a></li>
                        <li><a href="{% url 'examens' %}">Calendrier des examens</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Ressources</h3>
                    <ul class="footer-links">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Guides d'étude</a></li>
                        <li><a href="#">Annales des examens</a></li>
                        <li><a href="#">Législation</a></li>
                        <li><a href="#">Carrières</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                &copy; 2023 BUNEXE - Bureau National des Examens d'État. Tous droits réservés.
            </div>
        </div>
    </footer>
       <!-- Back to top button -->
       <a href="#" class="back-to-top" id="backToTop">
        <i class="fas fa-arrow-up"></i>
    </a>