
{% load static %}
  
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<header>

    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'accueil' %}" style="color: #f1c40f; font-size: 2rem; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); letter-spacing: 2px; text-transform: uppercase; text-decoration: none;">
                MENFP-BUNEXE
            </a>
        </div>
        
        
        <ul>
            <li>
                {% if user.is_authenticated %}
                    <!-- Lien vers le profil de l'utilisateur -->
                    <a href="{% url 'details' 'utilisateur' 0 %}" title="Voir mon profil" aria-label="Mon profil">
                        Mon profil
                    </a>
                    
                {% else %}
                    <!-- Lien pour se connecter -->
                    <a href="{% url 'connexion' %}" title="Se connecter" aria-label="Se connecter">
                        S'identifier
                    </a>
                {% endif %}
            </li>
            
            <li><a href="{% url 'demande_resultat_bac' %}">Demande Résultat bac</a></li>
            
            <li><a href="{% url 'e_document' %}">e-document</a></li>
            <li><a href="{% url 'verification_diplome' %}">Vérification diplôme</a></li>  

         
        </ul>
    </nav>

      
        
</header>