{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/comptes.css' %}">

<div class="auth-container">
    <div class="auth-box">
        <h2 class="auth-title">Se connecter</h2>

      
        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ formulaire.as_p }}

            {% if formulaire.errors %}
                <div>
                    <h4>Erreurs de formulaire</h4>
                    <ul>
                        {% for field in formulaire %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in formulaire.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <!-- Checkbox "Se souvenir de moi" -->
            <label>
                <input type="checkbox" name="remember_me"> Se souvenir de moi
            </label>

            <button type="submit" class="btn-submit">Se connecter</button>
        </form>

        <p class="switch-prompt">
            Mot de passe oublié ? <a href="{% url 'password_reset' %}">Réinitialisez-le ici.</a>
        </p>
        
        <p class="switch-prompt">
            Pas encore de compte ? <a href="{% url 'inscription' %}">Créez-en un.</a>
        </p>
    </div>
</div>

{% endblock %}
